* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2f4cdc;;
  --secondary-color: #283032;
  --accent-color: #78a890;
  --light-bg: #f8f9fa;
  --dark-text: #2c3e50;
  --border-color: #e0e0e0;
  --success-color: #e7d9b4;
  --warning-color: #7cb490;
  --info-color: #3498db;
}

body {
  font-family: "Times New Roman", serif;
  line-height: 1.6;
  color: var(--dark-text);
  background-color: #f5f6fa;
}

.main-header {
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.main-header h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.main-header p {
  font-size: 18px;
  opacity: 0.9;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin: 40px 0;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.subsection-title {
  margin-top: 30px;
}

/*Animaciones*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.skill-badge {
  animation: slideInLeft 0.6s ease-out;
}

/*Footer*/
.footer {
  background-color: var(--dark-text);
  color: white;
  padding: 30px 0;
  text-align: center;
}

.section {
  margin-top: 60px;
}

/*Responsivo*/
@media (max-width: 768px) {
  .main-header h1 {
    font-size: 32px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .main-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.main-nav a {
  text-decoration: none;
  color: rgb(209, 210, 220);
  font-weight: 500;
}

.main-nav a:hover {
  color: #78a890;
}

.steps-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 25px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}